.swiper-slide img {
    display: block;
    width: 100%;
    height: 75vh;
    object-fit: cover;
}
.swiper-text p{
    width: 40%;
}
.approach {
    padding: 0 5%;
    margin-top: 50px;
}

.our_approach {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    padding: 0 5%;
    margin-bottom: 50px;
}

.one {
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 35px;
    margin-top: 50px;
}

@media (max-width:957px) {
    .our_approach{
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
}