.swiper-slide img {
    display: block;
    width: 100%;
    height: 85vh;
    object-fit: cover;
    margin-bottom: 40px;
}

.swiper-text {
    color: #FFF;
    width: 100%;

}

.swiper-text p,
.swiper-text h1 {
    width: 40%;
}
.profile{
    padding: 0 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}

.profile-img{
    width: 95%;
    height: 500px;
   
    background-image: url('https://placehold.jp/450x450.png');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.profile-text{
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        text-align: left;
        width: 95%;
}
.profile-text h4{
    text-align: left;
    width: 100%;
}

.ceo{
    background-image: url(./images/ceo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    width: 95%;
    border-radius: 50%;
    text-align: center;
}


@media (max-width:957px) {
    .profile{
        display: block;
        width: 100%;
        margin:0 auto;
        margin-bottom: 50px;
    }
        .swiper-text h1,
        .swiper-text p,
        .swiper-text {
            padding: 0 5%;
            width: 100%;
        }
}